@import url("header.css");
body {
    background-color: rgb(165, 16, 162);
}
.container img{
    max-width:200px;
    max-height: 100px;
    width:auto;
    height: auto;
    width:40%;
    height:40%;
}
footer{
    background-color:antiquewhite;
    color:bisque rgb(16, 173, 235);
}

h1 {
    color:rgb(193, 38, 207);
}

h2 {
    color:blue(230, 0, 230);

    footer{
    background-color:#4a24d3;
    color:rgb(56, 163, 235);
}

    

}